@charset "UTF-8";

body
{
    background: linear-gradient(to top, black, blue);
    width: 98vw;
    height: 98vh;
}

main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 95vw;
    height: 95vh;
}

form
{
    font-family: sans-serif;
    background-color: white;
    color: black;
    width: 50%;
    padding: 25px;
    border-radius: 20px;
}
form legend, .botoes-p
{
    text-align: center;
    display: flex;
    flex-direction: column;

    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.277);
}

fieldset
{
    margin: 10px;
    border-radius: 10px;
}

.botoes
{
    border: none;
    background-color: blue;
    color: white;
    padding: 6px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.645);
}
